---
import Category from "./Category.astro";

interface Item {
  src: string;
  alt: string;
  title: string;
  slug: string;
}

const {
  data
} = Astro.props

interface Props {
  data: Item[];
}

const chunk = (arr: any[], cols: number): any[][] => {
  if (arr.length === 0) {
    return [];
  }
  const arraySize = Math.ceil(arr.length / cols);
  const newArray: any[][] = [];

  for (let i = 0; i < arr.length; i += arraySize) {
    newArray.push(arr.slice(i, i + arraySize));
  }

  return newArray;
};

const cols3 = chunk(data, 3);
const cols2 = chunk(data, 2);
---

<div class="mx-auto max-w-[85rem] px-4 py-10 md:px-6 lg:px-8 lg:py-14">
  <div class="grid grid-cols-2 gap-2 md:grid-cols-3">
    {
      cols3.map((col: any[]) => (
        <div class="hidden md:block space-y-2">
          {col.map((item: Item) => (
            <Category data={item} />
          ))}
        </div>
      ))
    }
    {
      cols2.map((col: any[]) => (
        <div class=" space-y-2 md:hidden">
          {col.map((item: Item) => (
            <Category data={item} />
          ))}
        </div>
      ))
    }
  </div>
</div>
