<section
  class="flex min-h-screen flex-col items-center justify-center bg-gray-900"
>
  <h1 class="text-4xl font-bold text-yellow-400">Famago</h1>
  <div class="mt-8"></div>
  <p class="mt-10 text-lg text-orange-400">Prontamente disponible</p>
  <style>
    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 2rem;
    }
  </style>
</section>
