---
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
---

<MainLayout
  title={"Nosotros | " + SITE.title}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://famago.cl/nosotros",
    url: "https://famago.cl/nosotros ",
    name: "Nosotros | Famago",
    description:
      "¿Tienes preguntas o quieres discutir un proyecto? Contáctanos y crearemos la solución perfecta con nuestras herramientas y servicios.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://famago.cl",
      name: "Famago",
      description:
        "Famago ofrece muebles de diseño industrial de alta calidad, ideales para el hogar y la oficina.",
    },
    inLanguage: "es-CL",
  }}
>
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
      <h1 class="text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl md:leading-tight">
        Sobre Nosotros
      </h1>
      <p class="mt-1 text-lg text-neutral-600 dark:text-neutral-400">
        En Famago, creamos muebles de diseño industrial que transforman los espacios del hogar y la oficina. Fabricamos cada pieza con orgullo en Chile, garantizando calidad y estilo en cada detalle.
      </p>
    </div>

    <div class="flex flex-wrap items-center justify-center gap-6">
      <div class="w-full rounded-xl bg-neutral-100 dark:bg-gray-800 p-6 sm:w-1/2 sm:rounded-r-none sm:p-8 lg:w-1/3 shadow-lg">
        <img src="https://plus.unsplash.com/premium_photo-1663051241402-18c8dfad24b1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Matías Olea" class="h-40 w-40 rounded-full mx-auto">
        <h3 class="text-2xl font-bold text-neutral-800 dark:text-neutral-100 sm:text-3xl mt-4 text-center">
          Juan Carlos Bodoque
        </h3>
        <p class="text-indigo-500 dark:text-indigo-300 text-center">Fundador y Diseñador Principal</p>
      </div>

      <div class="w-full rounded-xl bg-neutral-100 dark:bg-gray-800 p-6 sm:w-1/2 sm:p-8 lg:w-1/3 shadow-lg">
        <img src="https://images.unsplash.com/photo-1598994152462-cdc5cc0c5765?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Equipo de Trabajo" class="h-40 w-40 rounded-full mx-auto">
        <h3 class="text-2xl font-bold text-neutral-800 dark:text-neutral-100 sm:text-3xl mt-4 text-center">
          Equipo Famago
        </h3>
        <p class="text-indigo-500 dark:text-indigo-300 text-center">Maestros del detalle y el diseño industrial</p>
      </div>

      <div class="w-full rounded-xl bg-gradient-to-tr from-[#FF512F] to-[#F09819] p-6 shadow-2xl sm:w-1/2 sm:p-8 lg:w-1/3">
        <img src="https://images.unsplash.com/photo-1598994152462-cdc5cc0c5765?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Poroto el Gato" class="h-40 w-40 rounded-full mx-auto">
        <h3 class="text-2xl font-bold text-neutral-800 dark:text-neutral-100 sm:text-3xl mt-4 text-center">
          Poroto
        </h3>
        <p class="text-orange-100 text-center">Supervisor General de Siestas y Calidad</p>
        <p class="text-orange-200 text-sm mt-2 text-center">Especialista en inspeccionar cajas y supervisar desde las alturas.</p>
      </div>
    </div>

    <div class="mt-8 flex items-center justify-center gap-x-3 md:mt-12">
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        La calidad está en cada detalle, y Poroto se asegura de que así sea.
      </p>
    </div>
  </section>
</MainLayout>
